* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

html {
    font-family: 'Montserrat', sans-serif;
  }

  .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 2%;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

a{
  text-decoration: none;
  color: black;
}
a:link, a:visited {
  color: black;
}

  .content{
      margin: 80px 0 auto;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 10% 90%;
      grid-template-areas: 
      "top right"
      "bot right";

  }

  #ab{
      position:absolute;
      top: 11%;
      left: 31%;
  }

  #about {
      grid-area: about;
      justify-self: flex-start;
      font-size: 60pt;
      color: black;
      padding-right: 6px;
      margin-top: 0;
      margin-bottom: 0;
      text-align: end;
      
  }
  #me {
      font-size: 60pt;
      color: white;
      padding-left: 6px;
      margin-top: 0;
  }

  .left{
      
      align-self: end;
      display: flex;
      flex-direction: column;
      padding-right: 15px;
  }
  #top{
    grid-area: top;
    align-self: flex-start;
  }

  #bot {
      grid-area: bot;
      align-self: flex-end;
  }



  .me {
      text-align: right;
      margin-bottom: -0.5%;
  }

  .hello {
      margin-top: -0.5%;
  }

  .hello {
    font-size: 28px;
    font-weight: 600;
}

  .role {
    font-size: 24px;
    font-weight: 400;
}
  
  .description {
      font-size: 18px;
      font-weight: 300;
  }

  #rightSide {
      grid-area: right;
      width: 100%;
      height: 600px;
      background-image: url('https://thysreg.github.io/portfoliohtml/images/about-me-bruce-2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      }

  #resumeButton {
      padding: 0px 24px;
      
      margin-left: auto;
      margin-right: auto;
      border: 4px solid white;
      border-radius: 5px;
      color: white;
      width: 185px;
      font-size: 18px;
      font-weight: 500;
     
  }

#resumeButton:hover{
    color: black;
    background-color: white;
}


@media only screen and (max-width: 1000px) {

  body {
    margin: 0;
  }

  .content{
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    width: 100%;

}

#about {
  display: none;
}

#me {
  display: none;
}

#rightSide {
  background-image: url("https://thysreg.github.io/portfoliohtml/images/about-me-bruce-mobile.jpg");
}

#resumeButton {
  position: absolute;
  top: 20%;
  width: 185px;
  left: 0;
  right: 0;
  
}

.hello {
  text-align: center;
  margin: 24px;
}
.role {
  text-align: center;
  margin: 24px;
}
.description {
  text-align: start;
  margin: 0px 12px 24px 24px;
}
 
.side {
  display: none;
}
.left {
  padding-left: 0px;
  width: 100%;
}

[class*="col-"] {
  padding: 0;
}

}