* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
  
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  html {
    font-family: 'Montserrat', sans-serif;
  }

  body, html {
    height: 100%;
    margin: 0;
  }
  
  h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
    color: white;
  }
  .nav{
    position: absolute;
    display: flex;
  flex-direction: row;
  justify-content: space-between;
    padding: 32px 4%;
    font-size: 18px;
    font-weight: 600;
    z-index: 99;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  
.backgroud {
  background-image: url("/images/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
}

.pravel {
  background-image: none;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.usda {
  background-image: none;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.vent {
  background-image: none;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.otherProjects {
  background-image: none;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.proyectText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  height: 318px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -85px;
}

.logo {
  width: 100%;
  height: 100%;
  position: absolute;
}

.proyectText img {
  margin-top: 20%;
}